In [95]:
import requests
import io
import pandas as pd
import datetime


x = datetime.datetime.now()
day1 = '0' + str(x.day-1) if int(x.day-1)< 10 else str(x.day-1)
day2 = '0' + str(x.day-2) if int(x.day-2)< 10 else str(x.day-2)
day3 = '0' + str(x.day-3) if int(x.day-3)< 10 else str(x.day-3)
if x.strftime("%A") == 'Sunday' :
    url='https://www1.nseindia.com/archives/nsccl/volt/CMVOLT_'+day2+str(x.month)+str(x.year)+'.CSV'
elif x.strftime("%A") == 'Monday':
    url='https://www1.nseindia.com/archives/nsccl/volt/CMVOLT_'+day3+str(x.month)+str(x.year)+'.CSV'
else:
    url='https://www1.nseindia.com/archives/nsccl/volt/CMVOLT_'+day1+str(x.month)+str(x.year)+'.CSV'
print(url)
#https://www.nse-india.com/archives/nsccl/volt/CMVOLT_27122019.CSV

https://www1.nseindia.com/archives/nsccl/volt/CMVOLT_04122020.CSV

In [84]:
!pip install wget

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)

In [98]:
import wget
filename=wget.download(url)
filename

'CMVOLT_04122020.CSV'

In [86]:
nifty50Url ='https://www1.nseindia.com/content/indices/ind_nifty50list.csv'
wget.download(nifty50Url)

'ind_nifty50list (1).csv'

In [99]:
import pandas as pd
nifty100=pd.read_csv('/content/ind_nifty50list.csv')
data_vol = pd.read_csv('/content/'+filename,skiprows=1,header=None)

In [100]:
data_vol3=pd.DataFrame(data_vol[[1,5,6]])
data_vol3.head()

            1       5       6
0   20MICRONS  0.0294  0.0303
1  21STCENMGM  0.0234  0.0233
2  3IINFOTECH  0.0395  0.0395
3     3MINDIA  0.0222  0.0222
4      3PLAND  0.0692  0.0695

In [101]:
 
data_vol3.rename(columns={1:'Symbol',5:'Daily %',6:'Yearly %'},inplace=True)

In [102]:
nifty100=pd.DataFrame(nifty100[['Symbol']])

In [103]:
data_vol3 = pd.merge(data_vol3,nifty100,on='Symbol',how='inner')

In [104]:
data_vol3.head()

       Symbol Daily % Yearly %
0  ADANIPORTS  0.0247   0.0248
1  ASIANPAINT  0.0206   0.0206
2    AXISBANK  0.0354   0.0353
3  BAJAJ-AUTO  0.0214   0.0214
4  BAJAJFINSV  0.0323   0.0322

In [105]:
data_vol3.sort_values(by=['Daily %'],ascending=False,inplace=True)

In [106]:
data_vol3.set_index('Symbol',inplace=True)

In [107]:
#data_vol3['Daily_volilty']=data_vol3['Daily %']

In [108]:
#data_vol3['Yearly_volity']=data_vol3['Yearly %']

In [109]:
data_vol3.head(25)

           Daily % Yearly %
Symbol
INDUSINDBK  0.0462   0.0461
TATAMOTORS  0.0358   0.0357
AXISBANK    0.0354   0.0353
BAJFINANCE  0.0350   0.0349
BAJAJFINSV  0.0323   0.0322
HINDALCO    0.0322   0.0322
ICICIBANK   0.0305   0.0305
UPL         0.0298   0.0297
BPCL        0.0297   0.0296
JSWSTEEL    0.0292   0.0291
ONGC        0.0285   0.0284
TATASTEEL   0.0285   0.0285
SBIN        0.0277   0.0277
KOTAKBANK   0.0270   0.0269
HDFCLIFE    0.0269   0.0269
EICHERMOT   0.0264   0.0263
M&M         0.0262   0.0262
GRASIM      0.0260   0.0260
HDFC        0.0258   0.0257
GAIL        0.0258   0.0258
RELIANCE    0.0255   0.0255
MARUTI      0.0255   0.0254
BHARTIARTL  0.0254   0.0254
HEROMOTOCO  0.0251   0.0250
ADANIPORTS  0.0247   0.0248

In [110]:
data_vol3.to_csv('file.csv')